NEXT_PUBLIC_SUPABASE_URL=https://nbymgibesnagawmguoqt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_s4qFz3Sk3f5f7daamMzl0A_YCdho9oH
SUPABASE_SERVICE_ROLE_KEY=
GUEST_ACCESS_TOKEN_SECRET=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_USE_SANDBOX=true
APP_URL=http://localhost:3000
